<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
  version="6.0">

    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>servlet.EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EnquiryServlet</servlet-name>
        <servlet-class>servlet.EnquiryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EnquiryServlet</servlet-name>
        <url-pattern>/EnquiryServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <servlet-class>servlet.UpdateStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <url-pattern>/UpdateStatusServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>DeleteEnquiryServlet</servlet-name>
        <servlet-class>servlet.DeleteEnquiryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteEnquiryServlet</servlet-name>
        <url-pattern>/DeleteEnquiryServlet</url-pattern>
    </servlet-mapping>
</web-app>
